.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: rgb(133, 241, 133);
  font-size: 15px;
  height: 50px;
  width: 100%;
  padding-left: 0;     /* remove left padding */
  padding-right: 20px; /* move Contact Us slightly left */
  top: 0; 
  left: 0;
  z-index: 1000; /* Keeping element above other elements. */
}

.header-left .logo {
  height: 70px;
}

.header-right a {
  margin-left: 30px;
  color: black;
  font-weight: 400;
  padding-right: 40px;
}

.header-right a:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 8px 12px;
  }

  .header-right {
    margin-top: 8px;
  }

  .header-right a {
    margin-left: 0;
    margin-right: 12px;
  }
}
