.home-container {
  padding-top: 120px;      
  display: flex;
  flex-direction: column;  
  align-items: center;     
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.home-container p {
  max-width: 900px;        
  line-height: 1.6;        
  font-size: 19px;
  margin-top: 20px;         
}

.home-inputs{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 350px;
  align-items: center;
}

.home-inputs input{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgb(33, 204, 33);
}

.start-button{
  padding: 12px;
  font-size: 17px;
  background-color: #85f183;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.start-button:hover {
  background-color: #6fd669;
}
